/* general css */
.body {
	max-width: 750px;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

.img-responsive {

}

/* index/splash page */

.container.hidden {
	display: none;
}

.container#splash {
	height: 100vh;
	background: url("/images/background.png")no-repeat center center fixed;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

.container#splash img {
	width: 100px;
	height: 100px;
}
/* homepage */

