<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<h3>Near You</h3>
		</div>
		<div class="col-xs-6">
			<h3>Coffee Shops</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<h3>Golden Gate Bridge</h3>
		</div>
		<div class="col-xs-6">
			<h3>Murals in the Mission</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
		</div>
		<div class="col-xs-6">
		</div>
	</div>
</div>