<!--input address -->
<div class="container center" style="">

	<div class="row" style="background-color: black;">
		<div class="col-xs-1">&nbsp;</div>
		<div class="col-xs-10" style="text-align: center;">

			<div class="row" style="height:10px;">&nbsp;</div>    
			<div class="row">
				<div class="col-lg-6">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search for...">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">Go!</button>
						</span>
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
			<div class="row" style="height:10px;">&nbsp;</div>    

		</div>
		<div class="col-xs-1">&nbsp;</div>
	</div>


	<div class="row" style="">
		<div class="col-xs-1" style="">&nbsp;</div>
		<div class="col-xs-10" style="text-align: center;">
			<img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Location_map_San_Francisco_County.png">
		</div>
		<div class="col-xs-1" style="">&nbsp;</div>
	</div>





	<div class="row" style="height:20px;">&nbsp;</div>    

	<div class="row" style="">
		<div class="col-xs-1" style="">&nbsp;</div>
		<div class="col-xs-10" style="text-align: center;">

			<div class="jumbotron">
				<h1>Fillmore Coffee Houses Tour</h1>
				<p>Tour Length: 1.2 miles</p>
				<p><a class="btn btn-primary btn-lg" href="#" role="button">START TOUR</a></p>
				<img src="/images/star_on.png" style="width:20px;">
				<img src="/images/star_on.png" style="width:20px;">
				<img src="/images/star_off.png" style="width:20px;">
				<img src="/images/star_off.png" style="width:20px;">
				<img src="/images/star_off.png" style="width:20px;">

				<div class="row" style="height:20px;">&nbsp;</div>
				<div class="row" style="">
					<span class="label label-danger">coffee</span>
					<span class="label label-danger">expensive</span>
					<span class="label label-danger">local</span>
					<span class="label label-danger">touristic</span>
				</div>


			</div>
		</div>
		<div class="col-xs-1" style="">&nbsp;</div>
	</div>



	<div class="row" style="height:0px;">&nbsp;</div>    

	<div class="row" style="">
		<div class="col-xs-1" style="">&nbsp;</div>


		<div class="col-xs-10" style="text-align: center;">
<div class="list-group">
  <a href="#" class="list-group-item disabled">
    <H4>TOUR STOPS</H4>
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>

		</div>
		

		<div class="col-xs-1" style="">&nbsp;</div>
	</div>
	
	<!-- ------ -->


</div>

