<%if current_user  %>

  <%else  %>
    <% redirect '/' %>
  <%end %>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/categories">Walk-A-Tour</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">Logged in as <%=@current_user.first_name %></li>
        <li><a href='/users/<%=current_user.id%>/edit'>Edit User</a></li>
        <!-- <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul> -->
        </li>
      </ul>
<!-- there is a searchbar that can be entered in here -->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <form action='/sessions/<%=current_user.id%>' method='POST'>
            <input type='hidden' name='_method'value='DELETE'>
            <input type='submit' value='Log Out'>
          </form>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row" style="height:20px;">&nbsp;</div>

<div class="row" style="border-bottom: 1px dotted #cccccc">
	<div class="col-xs-1" style="">&nbsp;</div>
	<div class="col-xs-5" style="text-align: center; border-right: 1px dotted #cccccc;">
		<img src="images/cat_near_you.png" class="img-responsive">
		<p><a class="btn btn-primary btn-md" href="/map" role="button">Near You</a></p>
	</div>

	<div class="col-xs-5" style="text-align: center;">
		<img src="images/cat_coffee_shops.png" class="img-responsive">
		<p><a class="btn btn-primary btn-md" href="tours/1" role="button">Dev Bootcamp</a></p>
	</div>

	<div class="col-xs-1" style="">&nbsp;</div>
</div>
<!-- ------ -->
<div class="row" style="height:20px;">&nbsp;</div>

<div class="row" style="border-bottom: 1px dotted #cccccc">
	<div class="col-xs-1" style="">&nbsp;</div>
	<div class="col-xs-5" style="text-align: center; border-right: 1px dotted #cccccc">
		<img src="images/cat_vistas.png" class="img-responsive">
		<p><a class="btn btn-primary btn-md" href="#" role="button">Vistas</a></p>
	</div>
	<div class="col-xs-5" style="text-align: center;">
		<img src="images/cat_goldengate.png" class="img-responsive">
		<p><a class="btn btn-primary btn-md" href="#" role="button">Golden Gate Bridge</a></p>
	</div>
	<div class="col-xs-1" style="">&nbsp;</div>
</div>
<!-- ------ -->
<div class="row" style="height:20px;">&nbsp;</div>

<div class="row" style="border-bottom: 1px dotted #cccccc">
	<div class="col-xs-1" style="">&nbsp;</div>
	<div class="col-xs-5" style="text-align: center; border-right: 1px dotted #cccccc">
		<img src="images/cat_murals.png" class="img-responsive">
		<p><a class="btn btn-primary btn-md" href="#" role="button">Murals</a></p>
	</div>
	<div class="col-xs-5" style="text-align: center;">
		<img src="images/cat_all_tours.png" class="img-responsive">
		<p><a class="btn btn-primary btn-md" href="#" role="button">All Tours</a></p>
	</div>
	<div class="col-xs-1" style="">&nbsp;</div>
</div>







</div>
