<!--input address -->


<div class="container center" style="">

  <div class="row" style="background-color: black;">
    <div class="col-xs-1">&nbsp;</div>
    <div class="col-xs-10" style="text-align: center;">

<div class="row" style="height:10px;">&nbsp;</div>
 <div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<div class="row" style="height:10px;">&nbsp;</div>

    </div>
    <div class="col-xs-1">&nbsp;</div>
  </div>


<div class="row" style="height:20px;">&nbsp;</div>

<div class="row" style="border-bottom: 1px dotted #cccccc">
	<div class="col-xs-1" style="">&nbsp;</div>
	<div class="col-xs-5" style="text-align: center; border-right: 1px dotted #cccccc;">
		<img src="images/cat_near_you.png" class="img-responsive">
		<p><a class="btn btn-primary btn-md" href="#" role="button">Near You</a></p>
	</div>

	<div class="col-xs-5" style="text-align: center;">
		<img src="images/cat_coffee_shops.png" class="img-responsive">
		<p><a class="btn btn-primary btn-md" href="tours/1" role="button">Dev Bootcamp</a></p>
	</div>

	<div class="col-xs-1" style="">&nbsp;</div>
</div>
<!-- ------ -->
<div class="row" style="height:20px;">&nbsp;</div>

<div class="row" style="border-bottom: 1px dotted #cccccc">
	<div class="col-xs-1" style="">&nbsp;</div>
	<div class="col-xs-5" style="text-align: center; border-right: 1px dotted #cccccc">
		<img src="images/cat_vistas.png" class="img-responsive">
		<p><a class="btn btn-primary btn-md" href="#" role="button">Vistas</a></p>
	</div>
	<div class="col-xs-5" style="text-align: center;">
		<img src="images/cat_goldengate.png" class="img-responsive">
		<p><a class="btn btn-primary btn-md" href="#" role="button">Golden Gate Bridge</a></p>
	</div>
	<div class="col-xs-1" style="">&nbsp;</div>
</div>
<!-- ------ -->
<div class="row" style="height:20px;">&nbsp;</div>

<div class="row" style="border-bottom: 1px dotted #cccccc">
	<div class="col-xs-1" style="">&nbsp;</div>
	<div class="col-xs-5" style="text-align: center; border-right: 1px dotted #cccccc">
		<img src="images/cat_murals.png" class="img-responsive">
		<p><a class="btn btn-primary btn-md" href="#" role="button">Murals</a></p>
	</div>
	<div class="col-xs-5" style="text-align: center;">
		<img src="images/cat_all_tours.png" class="img-responsive">
		<p><a class="btn btn-primary btn-md" href="#" role="button">All Tours</a></p>
	</div>
	<div class="col-xs-1" style="">&nbsp;</div>
</div>







</div>
