<!--input address -->


<div class="container center" style="">

  <div class="row" style="background-color: black;">
    <div class="col-xs-1">&nbsp;</div>
    <div class="col-xs-10" style="text-align: center;">
 
<div class="row" style="height:10px;">&nbsp;</div>    
 <div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<div class="row" style="height:10px;">&nbsp;</div>    

    </div>
    <div class="col-xs-1">&nbsp;</div>
  </div>


<div class="row" style="height:20px;">&nbsp;</div>    

<div class="row" style="">
	<div class="col-xs-1" style="">&nbsp;</div>
	<div class="col-xs-5" style="text-align: center;">
		<img src="images/cat_near_you.png" class="img-responsive">
		<h3>Near You</h3>
	</div>
	<div class="col-xs-5" style="text-align: center;">
		<img src="images/cat_coffee_shops.png" class="img-responsive">
		<h3>Coffee Shops</h3>
	</div>
	<div class="col-xs-1" style="">&nbsp;</div>
</div>
<!-- ------ -->
<div class="row" style="height:20px;">&nbsp;</div>    

<div class="row" style="">
	<div class="col-xs-1" style="">&nbsp;</div>
	<div class="col-xs-5" style="text-align: center;">
		<img src="images/cat_vistas.png" class="img-responsive">
		<h3>Vistas</h3>
	</div>
	<div class="col-xs-5" style="text-align: center;">
		<img src="images/cat_goldengate.png" class="img-responsive">
		<h3>Golden Gate Bridge</h3>
	</div>
	<div class="col-xs-1" style="">&nbsp;</div>
</div>
<!-- ------ -->
<div class="row" style="height:20px;">&nbsp;</div>    

<div class="row" style="">
	<div class="col-xs-1" style="">&nbsp;</div>
	<div class="col-xs-5" style="text-align: center;">
		<img src="images/cat_murals.png" class="img-responsive">
		<h3>Murals</h3>
	</div>
	<div class="col-xs-5" style="text-align: center;">
		<img src="images/cat_all_tours.png" class="img-responsive">
		<h3>All Tours</h3>
	</div>
	<div class="col-xs-1" style="">&nbsp;</div>
</div>







</div>
