<div class="container" id="splash" class="center" >
<!--   <div class="row" style="background-color: red;">
    <div class="col-xs-1" style="background-color: red;">&nbsp;</div>
    <div class="col-xs-5" style="background-color: yellow;">.col-md-5</div>
    <div class="col-xs-5" style="background-color: yellow;">.col-md-5</div>
    <div class="col-xs-1" style="background-color: red;">&nbsp;</div>
  </div>

  <div class="row" style="background-color: blue;">&nbsp;</div>

  <div class="row" style="background-color: red;">
    <div class="col-xs-1" style="background-color: red;">&nbsp;</div>
    <div class="col-xs-10" style="background-color: yellow;">.col-md-10</div>
    <div class="col-xs-1" style="background-color: red;">&nbsp;</div>
  </div>
 -->

  <div class="row" style="height:60px;">&nbsp;</div>

  <div class="row">
    <div class="col-xs-1">&nbsp;</div>
    <div class="col-xs-10" style="text-align: center;">
      <a href="#" class="text-align: center;"><img src="images/logo.png"></a>
    </div>
    <div class="col-xs-1">&nbsp;</div>
  </div>

  <div class="row" style="height:120px;">&nbsp;</div>

  <div class="row" style="">
    <div class="col-xs-1" style="">&nbsp;</div>
    <div class="col-xs-10" style="background-color: rgba(0, 0, 0, 0.7);">
      <h4 style="color:white; font-weight:100; line-height:1.4em; text-align: center">
        Guided audio tours by locals. Discover the hidden-gems around you (and avoid the tourist traps).
      </h4>
    </div>
    <div class="col-xs-1" style="">&nbsp;</div>
  </div>

  <div class="row" style="height:60px;">&nbsp;</div>

  <div class="row" style="">
    <div class="col-xs-1" style="">&nbsp;</div>
    <div class="col-xs-10" style="text-align: center;">
      <p><a class="btn btn-primary btn-lg" href="/sessions/new" style="background-color: black;" role="button">GET STARTED NOW!</a></p>
    </div>
    <div class="col-xs-1" style="">&nbsp;</div>
  </div>


</div>
