<!-- Submit mp3 form -->
<form action="https://upload.clyp.it/upload" enctype="multipart/form-data" method="post">
    <input type="file" name="audioFile">
    <input type="submit" value="Send to Clyp">
</form>