<!--input address -->
<div class="container center" style="">

	<div class="row" style="background-color: black;">
		<div class="col-xs-1">&nbsp;</div>
		<div class="col-xs-10" style="text-align: center;">

			<div class="row" style="height:10px;">&nbsp;</div>    
			<div class="row">
				<div class="col-lg-6">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search for...">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">Go!</button>
						</span>
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
			</div><!-- /.row -->
			<div class="row" style="height:10px;">&nbsp;</div>    

		</div>
		<div class="col-xs-1">&nbsp;</div>
	</div>


	<div class="row" style="">
		<div class="col-xs-1" style="">&nbsp;</div>
		<div class="col-xs-10" style="text-align: center;">
			<img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Location_map_San_Francisco_County.png">
		</div>
		<div class="col-xs-1" style="">&nbsp;</div>
	</div>





	<div class="row" style="height:20px;">&nbsp;</div>    

	<div class="row" style="">
		<div class="col-xs-1" style="">&nbsp;</div>
		<div class="col-xs-10" style="text-align: center;">

			<div class="jumbotron">
				<h1>A Local Coffee House</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<p><a class="btn btn-primary btn-lg" href="#" role="button">PLAY</a></p>
				<img src="/images/star_on.png" style="width:20px;">
				<img src="/images/star_on.png" style="width:20px;">
				<img src="/images/star_off.png" style="width:20px;">
				<img src="/images/star_off.png" style="width:20px;">
				<img src="/images/star_off.png" style="width:20px;">

				<div class="row" style="height:20px;">&nbsp;</div>
				<div class="row" style="">
					<span class="label label-danger">coffee</span>
					<span class="label label-danger">expensive</span>
					<span class="label label-danger">local</span>
					<span class="label label-danger">touristic</span>
				</div>


			</div>


<span class="label label-default">&#10096; PREVIOUS HIGHLIGHT</span>
<span class="label label-default">NEXT HIGHLIGHT &#10097;</span>


	<div class="row" style="height:40px;">&nbsp;</div>    


			
		</div>
		<div class="col-xs-1" style="">&nbsp;</div>
	</div>
	<!-- ------ -->


</div>

